* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.splitSection {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.eliasSection {
  background-color: #fdfdfd;
}

.videSection {
  background-color: #FFB6C1;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.videHeader,
.videParagraph{
  background-color: #FFB6C1;
}

p {
  font-size: 1.2rem;
  max-width: 500px;
}

.btnAbout {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 18px;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnAbout:hover {
  background-color: white;
  color: black;
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
  }

  .splitSection {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

.aboutImage {
  width: 100%;
  max-width: 400px;
  max-height: 50vh;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
