* {
  background-color: rgb(255, 255, 255); /* sätt rgb(177, 135, 135) nattetid så det inte stör så mkt :o  */
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
}