/* intro.css */

.introWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:(#E2DFD2);
  flex-direction: column;
  gap: 1rem;
}

.introWrapper button{
    cursor: pointer;
}



