/* footer styling */
.footerBtm{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.headerTop{
   display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}